[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/Grabbitz-WhereTheEndBeginsAlbumArt.svg]
row=4
col=13

[/home/jake/Desktop/usbreset]
row=3
col=13

[/home/jake/Desktop/Zoho Mail]
row=3
col=0

[/home/jake/Desktop/Matt Hagan]
row=0
col=8

[/home/jake/Desktop/Maximum Exposure Graphics.zip]
row=0
col=10

[/home/jake/Desktop/TheSquid.svg]
row=2
col=1

[/home/jake/Desktop/Memes]
row=6
col=0

[/home/jake/Desktop/usbreset.c]
row=2
col=13

[/home/jake/Desktop/EpisodeOne-OMM.jpg]
row=7
col=1

[/home/jake/Desktop/Calendar-Project]
row=0
col=7

[/home/jake/Desktop/ep1.svg]
row=4
col=1

[/home/jake/Desktop/EpisodeOne-OMM.png]
row=6
col=1

[/home/jake/Desktop/steam.desktop]
row=1
col=17

[/home/jake/Desktop/joshskey]
row=0
col=1

[/home/jake/Desktop/TheSquid.png]
row=3
col=5

[/home/jake/Desktop/Holidays]
row=4
col=0

[/home/jake/Desktop/download.jpeg]
row=1
col=1

[/home/jake/Desktop/Flagship Armada Spotify Playlist Cover Art.svg]
row=1
col=13

[/home/jake/Desktop/Maximum Exposure Graphics]
row=0
col=9

[/home/jake/Desktop/download.jpeg.gpg]
row=3
col=1

[/home/jake/Desktop/gpgkey.txt]
row=8
col=0

[/home/jake/Desktop/VPN]
row=2
col=17

[/home/jake/Desktop/Photos From Phone 2019]
row=7
col=0

[/home/jake/Desktop/Phone Backup]
row=6
col=13

[/home/jake/Desktop/List Of Apps (2020).ods]
row=5
col=1

[/home/jake/Desktop/Gifs]
row=5
col=0

[DCAE54CFAE54A3B4]
row=1
col=0

[Trash]
row=0
col=0

[/]
row=2
col=0

[/home/jake]
row=0
col=17

