[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/steam.desktop]
row=1
col=1

[DCAE54CFAE54A3B4]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=0
col=2

[/home/jake]
row=1
col=0

